header{
    background-color: #a3a2a2;
}
h1{
    
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
a{
    color:#000000;
    background-color:#b7b7b7;
}
main{
    background-color:#686868;
}
aside{
    display: none;
}
h2{
    color:#17166e;
    font-family: sans-serif;
    text-transform: uppercase;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}